
<div class="grid__item" data-type="image">
    <div class="grid__item--control">
        <div class="left">
            <div class="grid__item--control_action add_image">
                <i class="fa fa-picture-o"></i> Добавить фото
                <input type="file" name="file" class="add-image"
                       data-url="/"
                />
            </div>

        </div>
        <div class="main">

        </div>
    </div>
    <div class="grid__item--image">
            <div class="image__placeholder">
                <div class="preview"></div>
                <div class="remove grid__btn">Удалить фото</div>
            </div>
            <div class="editable">
            </div>
    </div>
</div>